projects/eDataShare/eDmvData/eDmvDTO/src/main/resources/xsd/jxdm/3.0.3/proxy/ncic_2000/1.0.2/ncic_2000.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.it.ojp.gov/jxdm/3.0.3/proxy/ncic_2000/1.0.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:j="http://www.it.ojp.gov/jxdm/3.0.3" xmlns:ncic="http://www.it.ojp.gov/jxdm/ncic_2000/1.0.2">
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/3.0.3" schemaLocation="../../../jxdm.xsd"/>
  <xsd:import namespace="http://www.it.ojp.gov/jxdm/ncic_2000/1.0.2" schemaLocation="../../../../ncic_2000/1.0.2/ncic_2000.xsd"/>
  <xsd:complexType name="EYEType">
    <xsd:simpleContent>
      <xsd:extension base="ncic:EYEType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="RACType">
    <xsd:simpleContent>
      <xsd:extension base="ncic:RACType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SEXType">
    <xsd:simpleContent>
      <xsd:extension base="ncic:SEXType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType name="VCOType">
    <xsd:simpleContent>
      <xsd:extension base="ncic:VCOType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VMAType">
    <xsd:simpleContent>
      <xsd:extension base="ncic:VMAType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="VMOType">
    <xsd:simpleContent>
      <xsd:extension base="ncic:VMOType">
        <xsd:attributeGroup ref="j:SuperTypeMetadata"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
